page-pickup-request {

    input[type="text"] {
        display: block;
        padding-top: 2px;
        padding-left: 0;
        height: 34px;
        color: #111;
        vertical-align: middle;
        font-size: 14px;
        line-height: 16px;
        line-break: auto;
        }

}
