page-service-request {

    .ion-option{
        width: 100%; /* Or whatever you'd like the width to be */
      }
      .ion-select{
        width: 100%;
      }

      
      .buttonself{

        width: 150px;
        height: 70px;
        margin-top: 20px;
      }
      
      .buttoncall{
        width: 70px;
        height: 70px;
        margin-top: 20px;
      }

}
