page-tab2 {

    .card{
        padding: 0px 0px 0px 0px;
        
        //background-image: linear-gradient(#56CCF2 0%, #2F80ED 51%, #56CCF2 100%);
        box-shadow: grey;
        shape-outside: padding-box;
        //color: white;
        overflow: hidden;
        border-radius: 2rem;
      }

      .scroll-content {
        // background: #42c7ff;
         overflow: hidden;

 
       }

}
