page-tab3 {

    .cards-bg {
        color: black;
        shape-outside: padding-box;
        //color: white;
        overflow: hidden;
        
        padding: 5px 5px 0px 5px;
        margin-top: 9px;
        background-image: linear-gradient(rgb(240, 240, 240));
       // box-shadow: grey;
        // shape-outside: padding-box;
       // border-style: unset;
        //border-radius: 2rem;
        font-size: 10px;
        

      }

}
