page-menu {

    .menu-header {
        padding: 5px 15px;
        background-image: url('../assets/img/misc/material-design-background.jpg');
        background-size: cover;
        color: white;
        .name {
          font-weight: 500;
          margin-bottom: 3px;
        }
        .e-mail {
          margin-top: 0;
          margin-bottom: 5px;
        }
      }

      .user-avatar {
        max-width: 125px;height: 125px;
        padding: .5em;
        height: 12vh;
        border-radius: 55px;
      }

}
